#aiohttp==3.8.2
#yarl==1.8.1
#frozenlist==1.3.1


packaging<22


airflow-connections-manager==0.0.6
beautifulsoup4==4.9.3
tzdata
# pysqlite3==0.4.6
pymongo[srv]==3.11.3
psycopg2-binary==2.9.1
elasticsearch
mprop==0.16.0
awswrangler
webdriver-manager
pandas
numpy
#sklearn
scikit-learn
s3fs
selenium
h2o
statsmodels
matplotlib
redshift-connector

requests==2.27.1
kubernetes==26.1.0
